@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #edebde;
}
 
.font-playfair-semi{
    font-family: 'Playfair Display', serif;
}

.font-barlow{
    font-family: 'Barlow', sans-serif;
}

.font-poppins{
    font-family: 'Poppins', sans-serif;
}
